* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Open Sans";
}

.wrapper {
  background-image: url(/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  height: 50px;
  width: 90%;
}

.logo {
  width: 300px;
  height: 50px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 50px;
  display: flex;
}

.socials__item {
  width: 40px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  color: white;
}

.socials__link {
  color: #ffffff;
}

.socials__link:hover {
  color: #c8342d;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 50px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 35px;
}

.nav__item img {
  width: 100%;
}

.nav__item--search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 5px 5px 5px;
}

.nav__link:hover {
  border: 1px solid #ffffff;
  border-radius: 4px;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15%;
}

.hero__title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.hero__title span {
  color: #c8342d;
}

.hero__subtitle {
  max-width: 50%;
  margin: auto;
  text-align: center;
  opacity: 0.7;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.primary__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2% auto;
  width: 255px;
  height: 65px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.primary__btn--link {
  text-decoration: none;
  color: #ffffff;
}

.secondary__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 255px;
  height: 65px;
  border-radius: 20px;
  border-color: transparent;
  background-color: #c8342d;
  -webkit-box-shadow: 0 0 40px rgba(17, 25, 36, 0.1);
          box-shadow: 0 0 40px rgba(17, 25, 36, 0.1);
  margin-top: 10%;
  margin-bottom: 5%;
}

.secondary__btn--link {
  text-decoration: none;
  color: #ffffff;
}

.slider {
  margin-top: 10%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__bar--first {
  width: 20px;
  height: 20px;
}

.slider__bar--second, .slider__bar--third {
  opacity: 0.5;
  width: 20px;
  height: 20px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 4%;
  max-width: 1100px;
}

.about--left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about--right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15%;
  margin-left: 10%;
}

.about__title {
  min-width: 100%;
  color: #2d3f51;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__title span {
  font-weight: 400;
}

.about__description {
  max-width: 90%;
  opacity: 0.7;
  color: #2d3f51;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 2%;
}

.article {
  height: 215px;
  min-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 0 40px rgba(17, 25, 36, 0.1);
          box-shadow: 0 0 40px rgba(17, 25, 36, 0.1);
  margin-top: 5%;
}

.article__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 60%;
}

.article__title {
  max-width: 80%;
  color: #2d3f51;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  padding-left: 10%;
  padding-top: 7%;
}

.article__description {
  max-width: 90%;
  opacity: 0.7;
  color: #2d3f51;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 10%;
}

.article__link {
  max-width: 40%;
  color: #2d3f51;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  padding-top: 15%;
  padding-left: 10%;
  text-decoration: none;
}

.article img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50%;
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  width: 100%;
}

.showcase__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase__title {
  text-align: center;
  color: #2d3f51;
  font-size: 36px;
  font-weight: 700;
  padding-top: 5%;
}

.showcase__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  margin: auto;
  text-align: center;
  opacity: 0.7;
  color: #2d3f51;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 2%;
}

.showcase .products__list {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
}

.showcase .products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 34px;
  padding-left: 8px;
  padding-right: 8px;
}

.showcase .products__item:hover {
  border-radius: 3px;
  border: 1px solid #c8342d;
}

.showcase .products__link {
  color: #2d3f51;
  text-decoration: none;
}

.examples {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.examples__left {
  width: 730px;
  height: 700px;
}

.examples__top {
  width: 730px;
  height: 335px;
}

.examples__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2%;
  width: 730px;
  height: 335px;
}

.examples__bottom--square {
  width: 350px;
  height: 335px;
}

.examples__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2%;
  margin-left: 730px;
  margin-top: -335px;
  width: 350px;
  height: 689px;
}

.workprocess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  height: 496px;
  background-color: #2d3f51;
}

.workprocess__title {
  padding-top: 2%;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
}

.workprocess__subtitle {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 2%;
  opacity: 0.7;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
/*# sourceMappingURL=style.css.map */