* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.wrapper {
    background-image: url(/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
}

.header {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        max-width: 1600px;
        height: 100px;
        margin: auto;
        padding: 50px 8% 0;
    }

    &__logo {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 21px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.hero {
    padding-top: 10%;

    &__title {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 56px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;

        span {
            color: #c8342d;
        }
    }

    &__subtitle {
        max-width: 50%;
        margin: auto;
        text-align: center;
        opacity: 0.7;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }
}

.socials {
    &__list {
        width: 50%;
        height: 100%;
    }

    &__item {
        width: 40px;
        height: 20px;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: white;
    }

    &__link {
        color: #ffffff;

        &:hover {
            color: #c8342d;
        }
    }
}

.nav {
    display: flex;

    &__list {
        width: 70%;
        list-style: none;
    }

    &__item {
        width: 80px;
        height: 20px;
        // text-align: center;
    }

    &__link {
        text-decoration: none;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
    }
}

.primary-btn {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 2% auto;
    width: 255px;
    height: 65px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
}

.slider {
    padding-top: 15%;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.dot1 {
    width: 20px;
    height: 20px;
}

.dot2,
.dot3 {
    opacity: 0.5;
    width: 20px;
    height: 20px;
}

.about {
    padding-top: 5%;
    max-width: 1100px;
    margin: auto;

}