$red: #c8342d;
$white: #ffffff;
$gray: #2d3f51;
$blog-bg: #f5f5f5;
$footer-bg: #28252a;
$main-font: "Open Sans";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: $main-font;
  scroll-behavior: smooth;
  text-decoration: none;
}

.wrapper {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 110vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  margin-top: 2%;
  height: 50px;
  width: 90%;

  &__logo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    color: $white;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
}

.socials {
  display: flex;

  &__list {
    display: flex;
    justify-content: flex-start;

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__item {
    width: 40px;
    height: 20px;
    display: flex;
    flex-direction: row;
    color: white;
  }

  &__link {
    color: $white;

    &:hover {
      color: $red;
    }
  }
}

.nav {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 50px;

  &__list {
    display: none;

    @media (min-width: 1600px) {
      display: flex;
      list-style: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;

    img {
      width: 100%;
    }
  }

  &__link {
    display: flex;
    color: $white;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 5px 5px 5px;

    &:hover {
      border: 1px solid $white;
      border-radius: 4px;
    }
  }

  &__button {
    position: fixed;
    z-index: 10000;
    top: 35px;
    right: 20px;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 25px;
    transition: .2s;

    @media (min-width: 1600px) {
      display: none;
    }

    @media (max-width: 1600px) {
      top: 15px;
    }

    &--active {
      transform: rotate(-90deg);
    }

    span {
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: $white;
      border: 1px solid black;
      left: 0;
      transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: calc(50% - 2.5px);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    &--active span:nth-child(1) {
      top: calc(50% - 2.5px);
      transform: rotate(45deg);
    }

    &--active span:nth-child(2) {
      opacity: 0;
    }

    &--active span:nth-child(3) {
      bottom: calc(50% - 2.5px);
      transform: rotate(-45deg);
    }
  }
}

.menu {
  display: none;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: .2s ease-in;
  z-index: 10000;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(40, 59, 85, 0.931);

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    margin-top: 10%;
  }

  &__link {
    font-size: 7rem;
    color: $red;
  }
}

.show-menu {
  transform: translateX(0%);
}


.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 90vh;

  &__title {
    color: $white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15%;

    @media (min-width: 1600px) {
      font-size: 56px;
      padding-top: 15%;
    }

    @media (max-width: 800px) {
      padding-top: 5%;
      width: 40%;
    }

    span {
      color: $red;
    }
  }

  &__subtitle {
    max-width: 60%;
    text-align: center;
    opacity: 0.7;
    color: $white;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    // transform: translateX(-180%);
    // transition: all 1s ease-in-out;
    // animation: fadein 2s;


    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    &--show {
      // transform: translateX(0%);
      animation: fadein 4s;
    }

    @media (min-width: 1600px) {
      max-width: 70%;
    }

    @media (max-width: 500px) {
      padding-top: 10%;
      min-width: 80%;
    }
  }

  &__slider {
    width: 100px;
    height: 100px;
    margin-top: 20%;
    display: flex;
    justify-content: center;

    @media (min-width: 1600px) {
      margin-top: 15%;
    }

    @media (max-width: 800px) {
      margin-top: 2%;
    }

    @media (max-width: 400px) {
      margin-top: 20%;
    }

    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      opacity: .5;
      cursor: pointer;
      border-radius: 50%;
      background-color: $white;
      margin: 0 3px;

      &.active {
        opacity: 1;
      }
    }
  }
}

.primary__btn {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 2% auto;
  width: 255px;
  min-height: 65px;
  border-radius: 20px;
  border: 1px solid $white;
  background: transparent;
  color: $white;

  @media (min-width: 1600px) {
    margin-top: 15%;
  }

  @media (max-width: 800px) {
    margin-top: 0%;
  }

  @media (max-width: 400px) {
    margin-top: 15%;
  }


  &--link {
    display: flex;
    justify-self: center;
    align-items: center;
    color: $white;
  }
}

.secondary__btn {
  display: flex;
  justify-content: center;
  width: 255px;
  height: 65px;
  border-radius: 20px;
  border-color: transparent;
  background-color: $red;
  box-shadow: 0 0 40px rgba(17, 25, 36, 0.1);
  margin-top: 10%;
  margin-bottom: 5%;

  @media (max-width: 800px) {
    margin: 5% auto;
  }

  &--link {
    display: flex;
    justify-self: center;
    align-items: center;
    color: $white;
  }
}

.about {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 5%;
  margin-bottom: 4%;
  max-width: 1100px;

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 500px) {
    padding-top: 25%;
  }

  &--left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1200px) {
      width: 90%;
    }
  }

  &--right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 10%;

    @media (max-width: 1200px) {
      width: 90%;
    }

    @media (max-width: 800px) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 0;
      margin-left: 0;
      padding-top: 5%;
    }
  }

  &__title {
    min-width: 100%;
    color: $gray;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    @media (max-width: 400px) {
      padding-top: 10%;
    }



    span {
      font-weight: 400;
    }
  }

  &__description {
    max-width: 90%;
    opacity: 0.7;
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 2%;
  }
}

.article {
  height: 215px;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 40px rgba(17, 25, 36, 0.1);
  margin-top: 5%;

  &__group {
    display: flex;
    flex-direction: column;
    max-width: 60%;
  }

  &__title {
    max-width: 80%;
    color: $gray;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    padding-left: 10%;
    padding-top: 7%;

    @media (max-width: 500px) {
      max-width: 90%;
      font-size: 12px;
      padding-top: 0%;
    }
  }

  &__description {
    max-width: 90%;
    opacity: 0.7;
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 10%;
  }

  &__link {
    max-width: 36%;
    color: $gray;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 15%;
    margin-left: 10%;

    @media (max-width: 500px) {
      max-width: 51%;
      font-size: 12px;
      margin-top: 25%;
    }
  }

  &__image {
    display: flex;
    align-self: flex-end;
    width: 52%;

    @media (max-width: 1200px) {
      max-width: 50%;
      height: 99%;
    }
  }
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;

  @media (max-width: 1200px) {
    padding: 10% 0% 10% 0%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    text-align: center;
    color: $gray;
    font-size: 26px;
    font-weight: 700;
    padding-top: 5%;
  }

  &__description {
    display: flex;
    width: 55%;
    margin: auto;
    text-align: center;
    opacity: 0.7;
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 2%;

    @media (max-width: 1200px) {
      width: 90%;
    }
  }


  .products {
    &__list {
      padding-top: 5%;
      padding-bottom: 5%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      list-style: none;

      @media (min-width: 800px) {
        font-size: 14px;
        width: 40%;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 34px;
      padding-left: 8px;
      padding-right: 8px;

      &:hover {
        border-radius: 3px;
        border: 1px solid #c8342d;
      }
    }

    &__link {
      color: $gray;
    }
  }
}

.examples {
  @media (max-width: 1101px) {
    &__top {
      &--img {
        width: 350px;
        height: 335px;
      }
    }
  }

  @media (max-width: 350px) {
    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;

      &--img {
        width: 300px;
        height: 335px;
      }
    }

    &__bottom {
      &--img {
        width: 300px;
      }
    }

    &__right {
      &--img {
        width: 300px;
      }
    }
  }

  @media (min-width: 1300px) {
    width: 1100px;
    display: flex;
    flex-direction: row;

    &__left {
      width: 730px;
      height: 700px;
    }

    &__top {
      width: 730px;
      height: 335px;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      padding-top: 2%;
      width: 730px;
      height: 335px;

      &--square {
        width: 350px;
        height: 335px;
      }
    }

    &__right {
      display: flex;
      padding-left: 2%;
      margin-left: 730px;
      margin-top: -335px;
      width: 350px;
      height: 689px;
    }
  }
}

.workprocess {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-bottom: 2%;
  background-color: $gray;

  &__title {
    padding-top: 2%;
    color: $white;
    font-size: 36px;
    font-weight: 700;
  }

  &__subtitle {
    width: 45%;
    display: flex;
    align-self: center;
    padding-top: 2%;
    opacity: 0.7;
    color: $white;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

    @media (max-width: 800px) {
      width: 90%;
      padding: 5% 0% 5% 0%;
    }
  }
}

.items {
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: 5%;

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  color: $white;
  font-size: 16px;

  &:hover {
    color: $red;
  }

  &__icon {
    position: absolute;
    display: flex;
    align-self: center;
    width: 98px;
    opacity: 1;

    &:hover {
      opacity: 0;
    }

    &--red {
      position: absolute;
      display: flex;
      align-self: center;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 80%;
    width: 150px;

    @media (max-width: 500px) {
      margin-top: 70%;
      padding: 0 0 30% 0;
    }
  }

  &__subtitle {
    z-index: 100;
    position: absolute;
    margin-top: 20%;
    margin-left: 44%;
  }
}

.service {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    margin-top: 4%;
    color: $gray;
    font-size: 36px;
    font-weight: 700;
  }

  &__description {
    text-align: center;
    margin-top: 2%;
    width: 45%;
    opacity: 0.7;
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

    @media (max-width: 500px) {
      padding-top: 5%;
      width: 90%;
    }

    @media (max-width: 800px) {
      width: 90%;
    }
  }

  .offer {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 315px 315px;
    column-gap: 3%;
    row-gap: 4%;
    justify-items: center;

    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: 300px;
      grid-template-rows: 315px 315px 315px 315px 315px 315px;
      row-gap: .5%;
    }

    &__container {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;

      &:hover {
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
      }
    }

    &__border {
      position: absolute;
      display: flex;
      justify-self: center;
      margin-top: 15%;
      width: 98px;
      height: 98px;

    }

    &__icon {
      width: 50px;
      height: 50px;
      position: absolute;
      margin-top: 21%;
    }

    &__title {
      position: absolute;
      margin-top: 50%;
      height: 10%;
      color: $gray;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
    }

    &__description {
      position: absolute;
      text-align: center;
      margin-top: 60%;
      width: 80%;
      height: 20%;
      opacity: 0.7;
      color: $gray;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
    }
  }
}

.opinion {
  display: flex;
  flex-direction: column;
  background-image: url(../img/opinion-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 10%;

  &__title {
    color: $white;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 3%;
  }

  .client {
    display: flex;
    flex-direction: column;
    margin: 2% auto;

    &__title {
      color: $red;
      font-size: 12px;
      font-weight: 700;
      line-height: 30px;
    }

    &__name {
      color: $white;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
    }

    span {
      text-align: center;
    }

    &__description {
      display: flex;
      align-self: center;
      opacity: 0.7;
      color: $white;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      width: 43%;
      text-align: center;

      @media (max-width: 800px) {
        width: 90%;
      }
    }

    &__grade {
      display: flex;
      align-self: center;
      width: 5%;
      height: 2%;
      margin-top: 2%;

      @media (max-width: 800px) {
        width: 10%;
      }
    }

    &__slider {
      margin-top: 3%;
      padding-bottom: 2%;
      display: flex;
      align-self: center;
      color: $white;

      &--one {
        opacity: 1;
        width: 20px;
        height: 20px;
      }

      &--two,
      &--three {
        opacity: 0.5;
        width: 20px;
        height: 20px;
      }
    }

    &__image {
      border-radius: 50%;
    }
  }
}

.blog {
  background-color: $blog-bg;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;

  &__title {
    margin-top: 2%;
    color: $gray;
    font-size: 36px;
    font-weight: 700;
  }

  &__description {
    text-align: center;
    width: 45%;
    margin-top: 2%;
    opacity: 0.7;
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

    @media (max-width: 800px) {
      padding-top: 5%;
      padding-bottom: 5%;
      width: 90%;
      font-size: 14px;
    }
  }

  .container {
    margin-top: 4%;
    display: flex;

    @media (min-width: 1200px) {
      width: 1110px;
    }

    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--left {
      width: 32%;

      @media (max-width: 500px) {
        width: 80%;
      }

      img {
        max-width: 100%;
        height: 100%;
      }
    }

    &--right {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 68%;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);

      @media (max-width: 500px) {
        width: 80%;
      }

      span {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 10%;
        color: $red;
        font-size: 12px;
        font-weight: 700;
        line-height: 30px;
      }
    }

    &__date {
      max-width: 23%;
      margin-left: 5%;

      @media (max-width: 800px) {
        min-width: 30%;
      }
    }

    &__author {
      max-width: 5%;
      margin-left: 20%;

      @media (max-width: 800px) {
        margin-left: 25%;
        min-width: 15%;
      }

      @media (max-width: 400px) {
        margin-left: 35%;
        min-width: 15%;
      }
    }

    &__title {
      margin-top: 5%;
      margin-left: 5%;
      width: 80%;
      color: $gray;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;

      @media (max-width: 800px) {
        margin-top: 10%;
      }
    }

    &__description {
      margin: auto;
      width: 90%;
      opacity: 0.7;
      color: $gray;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 1%;
    }

    &__link {
      margin-left: 5%;
      width: 11%;
      color: $gray;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      margin-bottom: 3%;

      @media (max-width: 800px) {
        width: 40%;
      }
    }
  }

  .posts {
    display: flex;
    flex-direction: row;

    @media (min-width: 1200px) {
      width: 1110px;
    }

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 259px;
      column-gap: 3%;

      @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
      }
    }

    .post {
      position: relative;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
      margin-top: 10%;

      span {
        margin-top: 1%;
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 30%;
        color: $red;
        font-size: 12px;
        font-weight: 700;
        line-height: 30px;
      }

      &__date {
        max-width: 23%;
        margin-left: 5%;

        @media (max-width: 800px) {
          min-width: 35%;
        }

        @media (max-width: 400px) {
          min-width: 40%;
        }
      }

      &__author {
        max-width: 12%;
        margin-left: 35%;

        @media (max-width: 800px) {
          margin-left: 45%;
        }

        @media (max-width: 400px) {
          margin-left: 35%;
        }
      }

      &__title {
        margin-top: 15%;
        margin-left: 5%;
        width: 80%;
        color: $gray;
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
      }

      &__description {
        margin: auto;
        margin-left: 5%;
        width: 95%;
        opacity: 0.7;
        color: $gray;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 1%;
      }

      &__link {
        display: block;
        margin-top: 10%;
        margin-left: 5%;
        width: 40%;
        color: $gray;
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;

        @media (max-width: 800px) {
          min-width: 60%;
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $footer-bg;

  &__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 40%;

    @media (max-width: 800px) {
      width: 100%;
    }

    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 35px;
    }

    &--link {
      text-transform: uppercase;
      color: $white;

      @media (max-width: 500px) {
        font-size: 10px;
      }
    }
  }

  &__socials {
    display: flex;
    margin-top: 2%;

    &--item {
      width: 40px;
      height: 20px;
      display: flex;
      align-self: center;
      justify-content: center;
    }

    &--link {
      color: $red;

      &:hover {
        color: $white;
      }
    }
  }

  &__copyrights {
    margin-top: 2%;
    margin-bottom: 5%;
    color: $white;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;

    &--link {
      color: $white;
      text-align: center;
    }
  }
}